@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<QlLopHocSinhVien.Model.Entities.KhoaHoc,List<QlLopHocSinhVien.Model.Entities.KhoaHoc>>

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>ĐĂNG KÝ KHÓA HỌC</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-1">
                <div class="login">
                    <input type="hidden" class="mb-1" id="makh" value="@Model.Item1.MaKh" disabled>

                    <div class="col-12">
                        <input type="text" class="form-control mb-1 pl-1" id="hoten" placeholder="Họ tên" required style="height:31px !important;">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-1 pl-1" id="sdt" placeholder="Số điện thoại" required style="height:31px !important;">
                    </div>
                    <div class="col-12">
                        <input type="email" class="form-control mb-1 pl-1" id="email" placeholder="Email" required style="height:31px !important;">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-1 pl-1" id="diachi" placeholder="Địa chỉ" style="height:31px !important;">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control mb-1 pl-1" id="truonghoc" placeholder="Trường học" style="height:31px !important;">
                    </div>
                    <div class="col-12">
                        <textarea type="text" class="form-control mb-1 p-0 pl-1" id="ghichu" placeholder="Ghi chú" style="height:62px !important;"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary p-1" onclick="return Register();">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<!-- page title -->
<section class="page-title-section overlay" data-background="../client/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" asp-action="Index">Khóa học</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Khóa học</li>
                </ul>
                
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- section -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <!-- course thumb -->
                <img src="~/client/images/courses/course-single.jpg" class="img-fluid w-100">
            </div>
        </div>

        
        <!-- course info -->
        <div class="row align-items-center mb-5">
            <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
                <h2>@Model.Item1.TieuDe</h2>
            </div>
            <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
                <ul class="list-inline text-xl-center">
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-book text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">Khóa học</h6>
                                <p class="mb-0">03 tháng</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">Thời lượng</h6>
                                <p class="mb-0">02 giờ</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-wallet text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">Giá</h6>
                                <p class="mb-0">2.000.000đ</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
                <a href="#signupModal" data-toggle="modal" data-target="#signupModal" class="btn btn-primary">Đăng ký</a>
            </div>
            <!-- border -->
            <div class="col-12 mt-4 order-4">
                <div class="border-bottom border-primary"></div>
            </div>
        </div>
        <!-- course details -->
        <div class="row">
            <div class="col-12 mb-4">
                <h3>Chi tiết khóa học</h3>
                <p>
                    @Model.Item1.NoiDung
                </p>
            </div>
            <div class="col-12 mb-4">
                <h3 class="mb-3">Nội dung khóa học</h3>
                <div class="col-12 px-0">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-styled">
                                <li>Khóa học tiếng Anh giao tiếp cho người đi làm được thiết kế nhằm giúp học viên nâng cao, rèn luyện khả năng giao tiếp tiếng Anh trong môi trường làm việc. </li>
                                <li>Từ đó mở rộng thêm cơ hội việc làm và thăng tiến trong sự nghiệp. </li>
                                <li>Khóa học đặc biệt này sẽ giúp các bạn tăng sự tự tin khi sử dụng tiếng Anh trong các tình huống giao tiếp tại công sở. </li>
                                <li> Phù hợp với các bạn còn e ngại giao tiếp, khả năng giao tiếp còn hạn chế.</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-styled">
                                <li>Khóa học tiếng Anh giao tiếp cho người đi làm được thiết kế nhằm giúp học viên nâng cao, rèn luyện khả năng giao tiếp tiếng Anh trong môi trường làm việc. </li>
                                <li>Từ đó mở rộng thêm cơ hội việc làm và thăng tiến trong sự nghiệp. </li>
                                <li>Khóa học đặc biệt này sẽ giúp các bạn tăng sự tự tin khi sử dụng tiếng Anh trong các tình huống giao tiếp tại công sở. </li>
                                <li> Phù hợp với các bạn còn e ngại giao tiếp, khả năng giao tiếp còn hạn chế.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4">
                <h3 class="mb-3">Ai nên tham gia khóa học này:</h3>
                <ul class="list-styled">
                    <li>
                        Những người muốn thăng tiến trong sự nghiệp hoặc muốn hưởng một mức thu nhập cao hơn nhưng trình độ giao tiếp tiếng Anh kém hiện tại đang là rào cản.
                    </li>
                    <li>
                        Nhân viên văn phòng, kỹ sư, đội ngũ chuyên viên, tiếp thị.. cần tiếng Anh để phục vụ công việc, muốn cải thiện sự tự tin khi giao tiếp với đối tác nước ngoài.
                    </li>
                    <li>
                        Đã từng tham gia các khóa học tiếng Anh giao tiếp nhưng không hiệu quả do lớp học quá đông và nội dung bài học hoàn toàn lệch với thực tế công việc cần.
                    </li>
                    <li>
                        Làm việc bằng tiếng Anh có khả năng đọc-viết và ngữ pháp khá nhưng không sử dụng kỹ năng nghe-nói nên gần như không thể giao tiếp được. Nói khó nghe, nghe không hiểu.
                    </li>
                    <li>
                        Quỹ thời gian ít, công việc bận rộn cả ngày. Nhưng đang muốn nâng cao khả năng giao tiếp tiếng Anh và có thể dành 40 phút để học mỗi ngày.
                    </li>
                </ul>
            </div>
            <div class="col-12 mb-5">
                <h3>Fees and Funding</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                    ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem.
                </p>
            </div>

           
        </div>
    </div>
</section>
<!-- /section -->


<!-- related course -->
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Related Course</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in Model.Item2)
            {
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="~/client/images/courses/course-1.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>@DateTime.Now.ToString("dd/MM/yyyy")</li>
                                <li class="list-inline-item"><a class="text-color" asp-action="Detail" asp-route-id="@item.MaKh">Giảng Viên</a></li>
                            </ul>
                            <a asp-action="Detail" asp-route-id="@item.MaKh">
                                <h4 class="card-title">@item.TieuDe</h4>
                            </a>
                            <p class="card-text mb-4" style="height: 50px !important; text-overflow:ellipsis; overflow:hidden;">
                                @item.NoiDung
                            </p>
                            <a asp-action="Detail" asp-route-id="@item.MaKh" class="btn btn-primary btn-sm">Đăng ký</a>
                        </div>

                    </div>
                </div>
                <!-- course item -->
            }
            
        </div>
    </div>
</section>
<!-- /related course -->


<script>
    
    function Register(){
        var obj={
            MaKh: $('#makh').val(),
            HoTen:$('#hoten').val(),
            DienThoai: parseInt($('#sdt').val()),
            Email:$('#email').val(),
            DiaChi:$('#diachi').val(),
            TruongHoc: $('#truonghoc').val(),
            GhiChu: $('#ghichu').val()
        };

        console.log(obj);

        $.ajax({
            url: '@Url.Action("RegisterCourses","KhoaHoc")',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(obj),
            success: function (items) {
                alert('Đăng ký thành công!');
                $('#signupModal').modal('hide');
                
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        })
    }
</script>