@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<QlLopHocSinhVien.Model.Entities.KhoaHoc>

@{
    ViewData["Title"] = "Details";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="../client/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/home/index">Trang chủ</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Khóa học</li>
                </ul>
                @*<p class="text-lighten mb-0">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>*@
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- courses -->
<section class="section">
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="~/client/images/courses/course-1.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>@DateTime.Now.ToString("dd/MM/yyyy")</li>
                                <li class="list-inline-item"><a class="text-color" asp-action="Detail" asp-route-id="@item.MaKh">@item.Anh</a></li>
                            </ul>
                            <a asp-action="Detail" asp-route-id="@item.MaKh">
                                <h4 class="card-title">@item.TieuDe</h4>
                            </a>
                            <p class="card-text mb-4" style="height: 50px !important; text-overflow:ellipsis; overflow:hidden;">
                                @item.NoiDung
                            </p>
                            <a asp-action="Detail" asp-route-id="@item.MaKh" class="btn btn-primary btn-sm">Đăng ký</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
            }
        </div>
        <!-- /course list -->
    </div>
</section>
<!-- /courses -->