@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QlLopHocSinhVien.Model.Entities.KhoaHoc

@{
    //ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card mb-4">
        <h5 class="card-header">@ViewBag.Title</h5>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <p class="text-danger">@ViewBag.Message</p>
                <div class="row">
                    <div class="mb-3 col-12 col-md-6 col-lg-6">
                        <label class="form-label">Mã khóa học</label>
                        <input type="text" class="form-control form-control-sm" value="@Model.MaKh" disabled>
                        <input type="hidden" class="form-control form-control-sm" name="MaKH" value="@Model.MaKh" required>
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-6">
                        <label class="form-label">Ảnh</label>
                        <input type="file" class="form-control form-control-sm" name="Anh">
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-12 col-md-6 col-lg-6">
                        <label class="form-label">Nội dung</label>
                        <textarea type="text" class="form-control form-control-sm" name="TieuDe">@Model.TieuDe</textarea>
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-6">
                        <label class="form-label">Mô tả</label>
                        <textarea type="text" class="form-control form-control-sm" name="NoiDung">@Model.NoiDung</textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Lưu</button>
                <a class="btn btn-danger btn-sm" asp-action="Index">Hủy</a>
            </form>

        </div>
    </div>
</div>

