@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<QlLopHocSinhVien.Model.Entities.GiangVien>

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">DANH SÁCH @ViewBag.Title</h5>

    <div class="card-body p-1">
        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <label class="form-label">Show entries</label>
                        <input type="number" name="pagesize" class="form-control form-control-sm" value="10" min="10" step="5" onkeydown="return false;">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <label class="form-label">Trình độ</label>
                            <select class="form-select form-select-sm" name="trinhdo" asp-items="@ViewBag.TrinhDo">
                                <option value="">Tất cả</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-8 col-lg-8">
                            <label class="form-label">Từ khóa</label>
                            <div class="input-group">
                                <input type="text" name="keyword" class="form-control form-control-sm">
                                <button type="submit" class="btn btn-success btn-sm p-1"><i class='bx bx-search-alt-2'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="text-center">
                    <th><a class="btn btn-success btn-sm p-1" asp-action="Create"><i class='bx bx-plus-medical'></i></a></th>
                    <th>Mã</th>
                    <th>Họ tên</th>
                    <th>Trình độ</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <div class="d-flex">
                                <a class="btn btn-primary btn-sm p-1 mx-1" asp-action="Edit" asp-route-id="@item.MaGv" title="Sửa"><i class="bx bx-edit-alt"></i></a>
                                <a class="btn btn-danger btn-sm p-1" asp-action="Delete" asp-route-id="@item.MaGv" title="Xóa"><i class="bx bx-trash"></i></a>
                            </div>
                        </td>
                        <td>@item.MaGv</td>
                        <td>@item.MaNv</td>
                        <td>@item.MaTrinhDo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

